<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="qrichtext" content="1" />
    <style type="text/css">
    p, li { white-space: pre-wrap; }
    </style>
</head>
<body style=" font-family:'Ubuntu Mono'; font-size:11pt; 
                font-weight:400; font-style:normal; 
                background: url({{bckgrnd}});">
    {% for line in lines %}
        <p style="font-family:{{line['font']}}; 
                    color:{{line['color']}};
                    font-size:{{line['size']}}pt;
                    position:absolute;
                    left:{{line['shift_x']}}px;
                    top:{{line['shift_y']}}px;">{{line['text']}}</p>
    {% endfor %}
</body></html>
